# IMPORTING THE LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# READING THE DATASET

In [2]:
data=pd.read_csv("waterdatax.csv")

# ANALYSE THE DATA

In [3]:
data.head()

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014

In [4]:
data.describe()

              year
count  1991.000000
mean   2010.038172
std       3.057333
min    2003.000000
25%    2008.000000
50%    2011.000000
75%    2013.000000
max    2014.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   object
 4   D.O. (mg/l)                       1991 non-null   object
 5   PH                                1991 non-null   object
 6   CONDUCTIVITY (µmhos/cm)           1991 non-null   object
 7   B.O.D. (mg/l)                     1991 non-null   object
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   object
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   object
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   object
 11  year                              1991 non-null   int64
dtypes: int64(1), object(11)
memory usage: 186.8+ KB

In [6]:
data.shape

(1991, 12)

# SPLITTING DEPENDENT AND INDEPENDENT COLUMNS

In [38]:
data.head()
data.drop(['location','station','state'],axis=1,inplace=True)

In [39]:
data.drop([("FECAL COLIFORM (MPN/100ml)")],axis=1,inplace=True)
data

,Temp,do,ph,co,bod,na,tc,year,npH,ndo,...,nbdo,nec,nna,wph,wdo,wbdo,wec,wna,wco,wqi
0,30.600000,6.7,7.5,203.0,6.940049,0.100000,27.0,2014,100,100,...,60,60,100,16.5,28.10,14.04,0.54,2.8,22.48,84.46
1,29.800000,5.7,7.2,189.0,2.000000,0.200000,8391.0,2014,100,80,...,100,60,100,16.5,22.48,23.40,0.54,2.8,11.24,76.96
2,29.500000,6.3,6.9,179.0,1.700000,0.100000,5330.0,2014,80,100,...,100,60,100,13.2,28.10,23.40,0.54,2.8,11.24,79.28
3,29.700000,5.8,6.9,64.0,3.800000,0.500000,8443.0,2014,80,80,...,80,100,100,13.2,22.48,18.72,0.90,2.8,11.24,69.34
4,29.500000,5.8,7.3,83.0,1.900000,0.400000,5500.0,2014,100,80,...,100,80,100,16.5,22.48,23.40,0.72,2.8,11.24,77.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1986,26.209814,7.9,738.0,7.2,2.700000,0.518000,202.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,16.86,72.06
1987,29.000000,7.5,585.0,6.3,2.600000,0.155000,315.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,16.86,72.06
1988,28.000000,7.6,98.0,6.2,1.200000,1.623079,570.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,11.24,66.44
1989,28.000000,7.7,91.0,6.5,1.300000,1.623079,562.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,11.24,66.44
1990,29.000000,7.6,110.0,5.7,1.100000,1.623079,546.0,2003,0,100,...,100,100,100,0.0,28.10,23.40,0.90,2.8,11.24,66.44

In [40]:
x = data.iloc[:,1:7].values
x

array([[6.70000000e+00, 7.50000000e+00, 2.03000000e+02, 6.94004877e+00,
        1.00000000e-01, 2.70000000e+01],
       [5.70000000e+00, 7.20000000e+00, 1.89000000e+02, 2.00000000e+00,
        2.00000000e-01, 8.39100000e+03],
       [6.30000000e+00, 6.90000000e+00, 1.79000000e+02, 1.70000000e+00,
        1.00000000e-01, 5.33000000e+03],
       ...,
       [7.60000000e+00, 9.80000000e+01, 6.20000000e+00, 1.20000000e+00,
        1.62307871e+00, 5.70000000e+02],
       [7.70000000e+00, 9.10000000e+01, 6.50000000e+00, 1.30000000e+00,
        1.62307871e+00, 5.62000000e+02],
       [7.60000000e+00, 1.10000000e+02, 5.70000000e+00, 1.10000000e+00,
        1.62307871e+00, 5.46000000e+02]])

In [41]:
x.shape

(1991, 6)

In [42]:
y = data.iloc[:,-1:].values
y

array([[84.46],
       [76.96],
       [79.28],
       ...,
       [66.44],
       [66.44],
       [66.44]])

In [43]:
y.shape

(1991, 1)

# SPLITTING DATA INTO TRAIN AND TEST

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size = 0.2, random_state=10 )

# FEATURE SCALING

In [46]:
from sklearn.preprocessing import StandardScaler

In [47]:
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test=sc.transform(X_test)

# MODEL BUILDING

In [48]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=10,random_state=0)
regressor.fit(X_train,Y_train)
y_pred=regressor.predict(X_test)

# MODEL EVALUATION

In [50]:
from sklearn import metrics
print('Mean Absolute Error:',metrics.mean_absolute_error(Y_test,y_pred))
print('Mean squared Error:',metrics.mean_squared_error(Y_test,y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test,y_pred)))

Mean Absolute Error: 0.9892681704260707
Mean squared Error: 5.557973864661655
Root Mean Squared Error: 2.3575355489709278

In [52]:
metrics.r2_score(Y_test,y_pred)

0.9697034933666699

# SAVE THE MODEL

In [54]:
import pickle
pickle.dump(regressor,open('water.pkl','wb'))
model=pickle.load(open('water.pkl','rb'))